<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Priceall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Priceall.Properties.Settings>
            <setting name="WindowTopPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeftPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsDragEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxStringLength" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="QueryCooldown" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="KeyTriggerDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ModifierKey1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModifierKey2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VirtualKey" serializeAs="String">
                <value>0</value>
            </setting>
        </Priceall.Properties.Settings>
    </userSettings>
</configuration>