<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Priceall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Priceall.Properties.Settings>
            <setting name="WindowTopPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeftPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PriceFontColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDragEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUsingAutomaticRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUsingPrettyPrint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxStringLength" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="QueryCooldown" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="KeyTriggerDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="PriceColor" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUsingConditionalColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LowerPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpperPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LowerColor" serializeAs="String">
                <value />
            </setting>
            <setting name="UpperColor" serializeAs="String">
                <value />
            </setting>
            <setting name="FLAG_AUTO_REFRESH_OFF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyCombo" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>3B5F73</value>
            </setting>
        </Priceall.Properties.Settings>
    </userSettings>
</configuration>